<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radar STAER - Fase 2 (Final)</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="info-box">
        <h3>Radar STAER</h3>
        <div id="status">A ligar ao servidor...</div>
        
        <div class="slider-container">
            <label><b>Altitude Mínima:</b> <span id="valorAlt">0</span> ft</label>
            <input type="range" id="filtroAlt" min="0" max="40000" step="1000" value="0" oninput="atualizarValor(this.value)">
        </div>
        
        <div style="margin-top: 10px; font-size: 0.8em; color: #666;">
            <i>Ícones rodam com o rumo (track)</i>
        </div>
    </div>

    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>